
.Net Framework/WebService/AsmxWebServiceExtension/.vs/AsmxWebServiceExtension/v15/.suo
.Net Framework/WebService/AsmxWebServiceExtension/.vs/AsmxWebServiceExtension/v15/Server/sqlite3/storage.ide-shm
.Net Framework/WebService/AsmxWebServiceExtension/.vs/AsmxWebServiceExtension/v15/Server/sqlite3/storage.ide-wal
.Net Framework/WebService/AsmxWebServiceExtension/.vs/config/applicationhost.config
.Net Framework/WebService/AsmxWebServiceExtension/WebApplication/obj/Debug/WebApplication.csproj.CoreCompileInputs.cache
.Net Framework/WebService/AsmxWebServiceExtension/WebApplication/obj/Debug/WebApplication.csprojAssemblyReference.cache
.Net Framework/WebService/AsmxWebServiceExtension/WindowsFormsApp/obj/Debug/WindowsFormsApp.csproj.CoreCompileInputs.cache
.Net Framework/WebService/AsmxWebServiceExtension/WindowsFormsApp/obj/Debug/WindowsFormsApp.csprojAssemblyReference.cache
.Net Framework/WebService/AsmxWebServiceExtension/.vs/AsmxWebServiceExtension/v15/Server/sqlite3/storage.ide-shm
.Net Framework/WebService/AsmxWebServiceExtension/WebApplication/obj/Debug/WebApplication.csprojAssemblyReference.cache
.Net Framework/WebService/AsmxWebServiceExtension/WindowsFormsApp/obj/Debug/WindowsFormsApp.csprojAssemblyReference.cache
.Net Framework/WebService/AsmxWebServiceExtension/.vs/AsmxWebServiceExtension/v15/Server/sqlite3/storage.ide-wal
.Net Framework/WebService/AsmxWebServiceExtension/.vs/AsmxWebServiceExtension/v15/.suo
*.ide-wal
