<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="AsmxWsInterceptor.EncryptionExtension, AsmxWsInterceptor" group="High" priority="9"/>
        <add type="AsmxWsInterceptor.CompressionExtension, AsmxWsInterceptor" group="High" priority="1"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  
  <applicationSettings>
    <WindowsFormsApp.Properties.Settings>
      <setting name="WindowsFormsApp_polocat_ws_WebService1" serializeAs="String">
        <value>http://localhost:50400/WebService1.asmx</value>
      </setting>
    </WindowsFormsApp.Properties.Settings>
  </applicationSettings>
  
</configuration>